*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

body{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../img/dish.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}


.wrapper{
  
    justify-content: center;
    margin: auto;
}

.restaurant_find_title{
    text-align: center;
    font-size: 3rem;
    text-shadow: 3px 1px 3px black;

}

.form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}



#restaurant-name{
flex: 1;
padding: 5px;
margin: 5px;
border-radius: 10px;
width: 50%;
}

#city-name{
    flex: 1;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    width: 50%;
}

input[type="submit"]{
    cursor: pointer;
    width: 15%;
    text-decoration: none;
    padding: 5px 5px;
    border-radius:10px;
    margin: 1rem;
}

input[type="submit"]:active{
    transform: translateY(2px);
    .search-button:active {...}
}

input[type="submit"]:hover{
    background: #222222;
    color: #FFFFFF;
}

label {
    text-shadow: .5px 1px 1.5px black;
    font-size: 1rem;
    font-weight: bold;
}


#restaurant_results{
    color: #222222;
    height: 650px;
    }

.result_card{
    position: relative;
    margin: 0 auto;
    width: 68%;
    height: 300px;
    border: 1px solid white;


}

.result_body{
    display: inline-block;
}

.result_header{
    margin: 10px;
    position: absolute;
    left: 18%;
    top: 0;
display: inline-block;
}



.result_footer{
    position: absolute;
    right: 3%;
    bottom: 0%;
    display: flex;
    flex-direction: row;
}

.result_footer_button{
    flex: 1;
    width: 75px;
    margin-right: 4px;
text-decoration: none;
display: inline-block;
padding: 5px 6px;
border: 1px solid #240B36;
}

.result_footer_button:active{
    transform: translateY(2px);
}





.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    border: solid 3px #8B786D;;
    color: #222222;
    background-color: #FFFFFF;
    opacity: .7;
    margin-right: 1rem;
    margin-bottom: 2rem;
    width: 50%;
    
}

.column_body{
    font-size: 1rem;
    margin-bottom: .5rem;
    padding: 1rem;
}

.column_title{
    margin: 0 auto;
    padding: 2rem;
    color: #78A1BB;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 auto;
}

/* loader */

.wrapper{
    position: relative;
}

#loader{
    display: none;
    position: absolute;
  top: 40%;
  left: 45%;
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid #56a5eb;
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
}




@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {

    #loader{
        position: absolute;
        top: 50%;
        left: 35%;
          border: 1.6rem solid white;
          border-radius: 50%;
          border-top: 1.6rem solid #56a5eb;
          width: 10rem;
          height: 10rem;
          animation: spin 2s linear infinite;
      }

      .column{
        width: 100%;
    
      }

      .row{
          flex-direction: column;
      }

    

    .restaurant_find_title{
        font-size: 2rem;
        text-align: center;
        text-shadow: 3px 1px 3px black;
     
    }
    
.form-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 100%;

}

.column_body{
    font-size: .5rem;
    margin-bottom: .5rem;
    padding: 1rem;
}

.column_title{
    font-size: 1rem;
    font-weight: bold;
    margin: 0 auto;
}

   
  }